*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
/*
    SECCIÓN HEADER
*/
h1{
    color: white;
    font-size: 25px;
    padding: 10px;
}
header{
    background-color: #1a53ff;
    display: flex;
    justify-content: space-between;
}
#buscar-noticias{
    width: 50%;
    border-radius: 10px;
    margin: 5px auto;
    padding: 0 0 0 5px;
    border-style: solid;
    border-color:#595959;
    font-size: 15px;
}
/*
    SECCIÓN ASIDE
*/
#aside-filtros-categorias,#aside-filtros-fuente{
    background-color: #99ccff;
    padding: 10px;
}
/*
    SECCIÓN MAIN CONTENIDO
*/
#contenedor-botones-filtros,#contenedor-botones-filtros-fuente{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    
}
.boton-filtro,.boton-filtro-fuente{
    text-align: left;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px; 
    border-style: solid;
    border-color: #595959;
    cursor: pointer;
    background-color: rgb(237, 235, 233);
}
h2{
    margin-bottom: 20px;
}


.contenedor-filtros{
    width: 95%;
    border: 1px solid rgb(230, 224, 224);
    background-color: #e9edef;
    border-radius: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    
    margin-top: 10px;
    
}

.botones-filtros-activo{
    color: white;
    background-color:#1a53ff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0 0 15px ;
    border: 1px solid rgb(230, 224, 224);
    cursor: pointer;
}


.botones-filtros-noActivo{
    color: rgb(118, 116, 116);
    background-color:white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0 0 15px ;
    border: 1px solid rgb(230, 224, 224);
    cursor: pointer;
}
.img-api{
    height: 50%;
    width: 100%;
    border-radius: 5px;
}
.news-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2.5px solid rgb(223, 220, 220);
    border-radius: 5px;
    text-align: justify;
    font-size: 12px;
    margin: 10px 0 10px 15px;
    width: 90%;
    box-shadow: 10px 10px 15px rgb(0, 0, 0,0.3);
    padding: 2.5px;
}

/*
MEDIA QUERIES PARA EL TAMAÑO EN LAPTOS
*/
@media (width >= 600px){
    #buscar-noticias{
        width: 20%;
        margin-right: 10px;
    }
    #aside-filtros-categorias{
        width: 25%;
        border-radius: 10px;
        
    }
    .boton-filtro{
        width: 90%;
        padding: 5px;
    }
    .seccion-filtros{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
    }
    .contenedor-filtros{
        width: 90%;
        margin: 0;
    }
    #contenido-noticias{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .news-card{
       width: 40%;
       padding: 20px;
    }
    .img-api{
        border-radius: 5px;
        width: 80%;
        height: 50%;
        margin-bottom: 10px;
    }
}
